@import './static/fonts';
@import './static/null';
@import './modules/default';
@import './modules/header';
@import './modules/footer';
// @import './modules/popup';

//^  sections

section {
	margin-bottom: 130px;

	@media (max-width: 768px) {
		margin-bottom: 90px;
	}
}

.title {
	font-weight: 700;
	font-size: 33px;
	margin-bottom: 40px;

	@media (max-width: 768px) {
		font-size: 26px;
		margin-bottom: 30px;
	}
}

.promo {


	&__wrap {}

	&__info {}

	&__info-content {}

	&__title {}

	&__text {}

	&__socials {}

	&__items {}

	&__items-item {}

	&__items-item-text {}
}

.socials {

	&__item {}

	&__icon {

		&_in {}

		&_fb {}

		&_tg {}

		&_yb {}

		&_tt {}
	}
}

.benefits {

	&__wrap {

		@media (max-width: 768px) {
			margin: 0 -15px;


		}
	}

	&__title {
		max-width: 500px;
		margin-bottom: 20px;

		@media (max-width: 768px) {
			margin-bottom: 10px;
		}
	}

	&__list {
		list-style: none;
		counter-reset: digits;
		display: flex;
		flex-wrap: wrap;
		gap: 45px 90px;
		position: relative;

		&::before {
			pointer-events: none;
			content: "";
			z-index: 1;
			width: 50px;
			position: fixed;
			right: 0;
			height: 100%;
			top: 0;
			background: linear-gradient(270deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
			display: none;

			@media (max-width: 768px) {
				display: block;
			}
		}

		@media (max-width: 768px) {
			gap: 60px;
			flex-wrap: nowrap;
			overflow-x: auto;
			padding: 0 15px;
		}
	}

	&__item {
		padding-left: 15px;
		padding-top: 60px;
		padding-bottom: 47px;
		position: relative;
		flex: 1 1 clamp(200px, 320px, 100%);

		@media (max-width: 768px) {
			flex: 0 0 250px;
			padding-top: 45px;
			padding-bottom: 40px;
		}

		&::before {
			content: '';
			position: absolute;
			left: -8px;
			top: 0;
			content: counter(digits);
			counter-increment: digits;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px rgba(0, 195, 137, 0.6);
			;
			font-weight: 900;
			font-size: 100px;
			z-index: -1;

			@media (max-width: 768px) {
				font-size: 80px;
			}
		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 27px;
			background: url('../img/decorates/draw-lines.svg') center 0 no-repeat;
			padding-top: 20px;
			z-index: 100;

			@media (max-width: 768px) {
				height: 20px;
				width: calc(100% - 15px);
				margin-left: 15px;
			}
		}
	}

	&__item-name {
		font-weight: 500;
		font-size: 21px;
		padding: 16px 0;
		position: relative;
		// z-index: 2;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			position: absolute;
			width: 81px;
			height: 81px;
			left: -17px;
			background: linear-gradient(132.03deg, rgba(253, 218, 36, 0.5) 12.19%, rgba(253, 218, 36, 0.5) 12.19%, rgba(253, 218, 36, 0) 86.29%);
			border-radius: 50%;
			z-index: -1;

			@media (max-width: 768px) {
				width: 60px;
				height: 60px;
			}
		}
	}

	&__item-text {}
}

.routes {

	&__wrap {}

	&__title {}

	&__list {}

	&__item {}
}

.route {

	&__image {}

	&__benefit {}

	&__name {}

	&__price {}

	&__info {}

	&__info-item {

		&_routes {}
	}

	&__info-item-name {}

	&__info-item-value {}

	&__info-item-list {}

	&__button {}
}

.companies {

	&__wrap {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-size: 36px;
		color: #009A6E;

		@media (max-width: 768px) {
			font-size: 26px;
			margin-bottom: 40px;
		}
	}

	&__list {
		margin-bottom: -10px;

		& .company:not(:last-child) {}
	}

	&__btn {
		margin: 0 auto;
		display: inline-block;
		background: #FDDA24;
		border-radius: 20px;
		min-width: 250px;
		padding: 15px 30px;
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		color: #333333;

		@media (max-width: 768px) {
			min-width: 270px;
		}
	}
}

.company {

	height: 500px;
	border: 10px solid #000;
	margin-bottom: 60px;
	padding: 70px 100px;

	@media (max-width: 768px) {
		margin-bottom: 50px;
		padding: 40px 20px;
	}

	&__cover {}

	&__name {
		font-weight: 700;
		font-size: 30px;
		line-height: 38px;
		color: #F2F2F2;

		@media (max-width: 768px) {
			font-size: 24px;
		}

		&_fade {}
	}

	&__list-card {}

	&__card {}

	&__card-img {}

	&__card-text {}

	&-1 {
		background: url('../img/companies') center / cover no-repeat;

		& .company__card-img:nth-child(1) {
			background: url('../img/companies') center / cover no-repeat;
		}
	}
}

.video-block {
	background: #00C389;
	position: relative;
	padding: 40px 0;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		top: -180px;
		width: 280px;
		height: 418px;
		background: url('../img/decorates/polygon-4.svg') 100% 0 / contain no-repeat;

		@media (max-width: 768px) {
			width: 160px;
			top: -90px;
		}
	}

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -90px;
		width: 361px;
		height: 169px;
		background: url('../img/decorates/polygon-5.svg') 0 0 / contain no-repeat;

		@media (max-width: 768px) {
			width: 230px;
			bottom: -130px;
		}
	}

	&__wrap {
		position: relative;
		padding: 60px 0;
		display: flex;
		justify-content: space-between;
		gap: 40px;
		z-index: 5;


		@media (max-width: 1200px) {
			flex-direction: column-reverse;
			justify-content: flex-start;
			padding: 40px 0 140px;
		}
	}

	&__video {
		position: relative;
		z-index: 10;
		width: 870px;

		@media (max-width: 1200px) {
			width: 100%;
		}

		&>* {
			display: block;
			width: 100%;
			aspect-ratio: 16 / 9;
		}
	}

	&__iframe {}

	&__cover {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		transition: opacity 1s ease 0.2s;
		background: url('@img/video-cover.jpg') center 0 / cover no-repeat;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
			z-index: 1;
			pointer-events: none;
			transition: all 0.4s ease 0s;

		}

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: url('../img/icons/video-btn.svg') center / 170px auto no-repeat;
			z-index: 1;
			pointer-events: none;
			z-index: 2;
			transition: all 0.7s ease 0s;
			will-change: transform;

			@media (max-width: 768px) {
				background: url('../img/icons/video-btn.svg') center / 115px auto no-repeat;
			}
		}

		&.fade {
			opacity: 0;
			pointer-events: none;
		}

		&:hover {
			&::before {
				background: rgba(0, 0, 0, 0.6);
			}

			&::after {
				transform: scale(1.2);
			}
		}
	}

	&__title {
		max-width: 220px;
		color: #F2F2F2;

		@media (max-width: 1200px) {
			max-width: none;
		}

		@media (max-width: 480px) {
			max-width: 260px;
		}
	}

	&__fade-text {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		pointer-events: none;


		& span {
			font-weight: 700;
			font-size: 75px;
			color: #F2F2F2;
			position: absolute;

			@media (max-width:1200px) {
				font-size: 60px;
			}
		}

		& span:nth-child(1) {
			opacity: 0.6;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke: 1px #E0E0E0;
			right: 100px;
			bottom: 233px;

			@media (max-width:1200px) {
				bottom: auto;
				top: 82px;
				right: -15px;
			}
		}

		& span:nth-child(2) {
			opacity: 0.2;
			right: 127px;
			bottom: 195px;

			@media (max-width:1200px) {
				bottom: auto;
				right: 20px;
				top: 100px;
			}
		}

		& span:nth-child(3) {
			opacity: 0.8;
			right: 0;
			bottom: 120px;

			@media (max-width:1200px) {
				bottom: 37px;
			}
		}

		& span:nth-child(4) {
			opacity: 0.2;
			right: 32px;
			bottom: 33px;

			@media (max-width:1200px) {
				bottom: 26px;
				right: 110px;
			}
		}
	}
}

.includes {

	&__wrap {}

	&__title {}

	&__list {}

	&__item {}

	&__item-img {}

	&__item-text {}
}

.about-us {

	&__wrap {}

	&__title {}

	&__content {}

	&__desc {}

	&__desc-text {}

	&__success-list {}

	&__success-item {}

	&__img-liner {}
}

.contacts {

	&__wrap {}

	&__title {}

	&__content {}

	&__column-links {}

	&__item {}

	&__city {}

	&__item-body {}

	&__item-label {}

	&__phones {}

	&__phones-tel {}

	&__email {}

	&__adress {}

	&__column-form {}
}